.body {
    background-color: #badff5;
    font-family: 'Merriweather', serif;
    
}
.header {
    display: flex;
    background-color: #13628F;
    color: #FFD69E;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    flex-flow: row wrap;

}

.wrapper {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    max-width: 960px;
}

.body-image {
    border: solid 1px;
    border-radius: 4px;
    width: 100%;
}
.nested1 {
    max-width: 33%;
    align-content: safe center;
}

.nested2{
    min-width: 33%;
}

