.body{
    margin:0;
    padding:0;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 15px;
  background-color: darkmagenta;
  color: blanchedalmond;
}

.nested1{
    width: 960px;
    display: flex;
    justify-content: center;
}